h1{
  color: hotpink;
}
ul.user-data-list {
  /* border: 1px solid red; */
  max-width: 500px;
  width: 100%;
}
ul.user-data-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cross-icon {
  cursor: pointer;
  transform: scale(1);
  transform-origin: left;
  transition: 0.3s ease-in;
}
.cross-icon:hover{
  transform: scale(1.2);
}